<section class="ferry-card">
  <div class="d-flex justify-content-between w-100">
    <h5>Large Ferry Cargo</h5>
    <div>
      Shipped:
      <strong class="action-color">{{largeFerryCounter$ | async}}</strong>
    </div>
  </div>

  <div class="ferry-container d-flex justify-content-center">
    <div *ngIf="(largeFerryLoad$ | async) as load" class="d-flex flex-wrap large-ferry">
      <ng-container *ngFor="let vehicle of load">
        <app-vehicle-slot [vehicle]="vehicle"></app-vehicle-slot>
      </ng-container>
    </div>
  </div>
</section>
