@import '~bootstrap/scss/bootstrap';
@import '~@angular/material/theming';
@import 'variables';

@include mat-core();

$app-primary: mat-palette($mat-blue-grey);
$app-accent: mat-palette($mat-red, A200, A100, A400);
$app-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme(
    $app-primary,
    $app-accent,
    $app-warn
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
@include angular-material-theme($app-theme);

html,
body {
  background-color: #d2d5de;
  font-family: proxima-nova, sans-serif;
}

h1 {
  color: $primary-color;
  font-weight: 600;
}

.w-100 {
  width: 100%;
}

.text-white {
  color: #fff;
}

.card-head {
  background-color: $primary-color;
  color: #fff
}

.action {
  color: $action-color
}

.ferry-card {
  height: 500px;
}



